body {
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

html {
	background-color: #1d7682;
}

@media only screen and (max-width: 600px) {
	body {
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

rank {
	width: 100%;
}

#doc-title .name {
    font-size: 0px;
}


/*------------------------- Footer --------*/


.footer {
	text-align: center;
	font-family: "Alumni Sans Inline One", sans-serif;
	font-size: 150%;
	padding-top: 25px;
	padding-bottom: 25px;
}


@media only screen and (max-width: 600px) {
.footer {
	font-size: 110%;
	padding-top: 15px;
	padding-bottom: 15px;
}}


/*------------------------- Heading --------*/


.heading {
	font-family: "Alumni Sans Inline One", sans-serif;
	font-size: 550%;
	text-align: center;
	padding-top: 20px;
	color: #1D1D1;
}

@media only screen and (max-width: 700px) {
.heading {
	font-size: 290%;
	padding-bottom: 10px;
}
}

.subHeading {
	font-family: "Alumni Sans Inline One", sans-serif;
	font-size: 450%;
	text-align: center;
	padding-bottom: 10px;
	color: #c41508;	
	font-weight: bold;
	font-family: "Architects Daughter", cursive;
}

/*------------------------- Section Heading --------*/


	/*------------------------- Pub Photos --------*/


.pubPhoto {
	width: 150px;
	border-radius: 50%;
	border: 5px solid #1D1D1;
}

@media only screen and (max-width: 700px) {
.pubPhoto {
	width: 100px;
	border-radius: 50%;
	border: 5px solid #1D1D1;
}}

.iconHeadingRight {
	text-align: left;
}


	/*------------------------- Pub Names --------*/

.iconHeadingLeft {
	align-items: center;
	display: flex;
	font-size: 130%;
	
}

@media only screen and (max-width: 700px) {
.iconHeadingLeft {
	font-size: 165%;
	
}}

@media only screen and (max-width: 700px) {
.iconHeadingLeftSmall {
	align-items: center;
	display: flex;
	font-size: 150%;
	
}}

	
	/*------------------------- Rating --------*/

.stars {
  	text-align: center;
  	background-color: white;
  	color: #FFD700;
  	font-size: 1.5em;
	padding-bottom: 15px;
	padding-top: 0px;
 }

.rosette {
	position: absolute;
	top: -70px; 
	left: 55px; 
	width:80px;
}

@media only screen and (max-width: 700px) {
.rosette {
	position: absolute;
	top: -40px; 
	left: -5px; 
	width: 60px;
}
}
 /*------------------------- Pint Glass Banner Image styling--------*/


.bannerImage {
	text-align: center;
	align-items: center;
}

.bannerImage img {
 	width: 100px;
}

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
.bannerImage img {
 	width: 60px;
}
}


/*------------------------- Search function --------*/


	/*------------------------- Hides the items in the list --------*/

.name {
	display: none;
}


#myInput {
  	width: 100%;
  	font-size: 16px;
  	padding: 12px 10px 12px 40px;
  	border: 3px solid #1D1D1;
  	margin-bottom: 12px;
	font-family: Courier New;
}

#myUL {
  	list-style-type: none;
}

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
ul#myUL {
	padding: 0px;
}
}

.search-bar {
	text-align: center;
	padding-bottom: 50px;
}

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
.search-bar {
	padding-bottom: 20px;
}
}

/*------------------------- Drop down contents --------*/

	/*------------------------- Social Media Icons --------*/

 .social-media-icons {
  	text-align: center;
  	background-color: white;
  	color: black;
 	word-spacing: 25px;
  	font-size: 1.75em;
	padding-bottom: 10px;
	padding-top: 20px;
 }

 a {
  color: black;
  text-decoration: none;
 }


	/*------------------------- Address and Opening Times --------*/

.address {
	text-align: left;
}




/*------------------------- Collapsible --------*/

.center-icons {
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	font-family: "Architects Daughter", cursive;
	padding-bottom: 10px;
}

.collapsible {
	background-color: white;
  	cursor: pointer;
  	padding: 5px;
	border: none;
	width: 50%;
	text-align: center;
	font-family: "Alumni Sans Inline One", sans-serif;
	font-size: 180%;
	transition: transform .2s
}

@media only screen and (max-width: 600px) {
  .collapsible {
  	padding: 1px;
	padding-left: 20px;
	width: 100%;
	font-size: 90%;
	padding-bottom: 15px;
  }
}

.active, .collapsible:hover {
	transform: scale(1.04);
}

.content {
  	padding: 0 18px;
  	display: none;
  	overflow: hidden;
  	background-color: white;
	width: 70%;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	font-family: "Architects Daughter", cursive;
}

@media only screen and (max-width: 600px) {
div.content {
	padding: 0px;
}
}

@media only screen and (max-width: 600px) {
  .content {
  	padding: 0 18px;
  	display: none;
  	overflow: hidden;
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
}
}
