.heading	{
			color: black;
			font-family: 'Nanum Myeongjo', serif;
			font-size: 400%;
			text-align: center;
			padding: 20px;
			margin-left: 150px;
			margin-right: 150px;
		}

.jaws-image {
			border-radius: 10%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 30%;
	}

p	{
	font-family: 'Nanum Myeongjo', serif;
	margin-top: 15px;
}

html {
  scroll-behavior: smooth;
}


/*-------------------------Navigation Bar--------*/

 .navbar-nav {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.75em;
  line-height: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .navbar-nav {
   margin-bottom: 25px;
   margin-top: 5px;
  }
 }

 .navbar-light .navbar-nav .nav-link {
  color: black;
 }

 .nav-item {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 3px;
  padding-top: 3px;
 }

 .navbar-toggler {
  margin-bottom: 30px;
 }

 /*------------------------- Page --------*/

body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 20px;
            }

@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
	html, body {
                width: 100%;
                height: 100%;
                margin: 0;
            }
}

 /*------------------------- Blockquote --------*/

.paragraph-1 {
	color: black;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 120%;
	text-align: center;
}

 /*------------------------- Review Section --------*/

.mycontainer {
  	display: flex;
	padding-bottom: 30px;
}
.mycontainer > div {
  	width:33%;
	color: black;
	font-family: 'Nanum Myeongjo', serif;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.review-heading {
	font-weight: bold;
	color: black;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 150%;
	text-align: center;
	padding-bottom: 15px;
}

.review-text {
	font-size: 100%;
}

@media only screen and (max-width: 700px) {
        .mob-hide-review {
            display: none;
        }
    }

@media only screen and (max-width: 700px) {
        .mycontainer > div {
  	width:100%;
}
    }


 /*------------------------- Trailer --------*/


 .video-styles {
  text-align: center;
 }
 
 @media (max-width: 768px) {
  .audio-styles.video-styles {
   padding-left: 20px;
   padding-right: 20px;
  }
 }
 
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .audio-styles.video-styles {
   padding-left: 30px;
   padding-right: 30px;
  }
 }

 @media only screen and (min-device-width: 1024px) {
  .audio-styles.video-styles {
   padding-left: 200px;
   padding-right: 200px;
  }
 }


 /*------------------------- Cast --------*/

.cast {
	color: black;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 200%;
	padding-bottom: 30px;
	padding-top: 50px;
}

.table {
	width:70%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Nanum Myeongjo', serif;
}


@media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
.table {
	width:100%;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Nanum Myeongjo', serif;
}
}


 /*-------------------------Banner Image styling--------*/

 .mobileShow {
  display: none;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .mobileShow {
   display: inline;
  }
 }

 .mobileHide {
  display: inline;
 }

 @media only screen and (min-device-width: 0px) and (max-device-width: 1000px) {
  .mobileHide {
   display: none;
  }
 }




 /*------------------------- Movie Website Links --------*/

.icon-1 {
	width: 17%;	
	margin-bottom: 25px;
}

 @media only screen and (min-device-width: 0px) and (max-device-width: 700px) {
  .icon-1 {
	width: 40%;	
	margin-bottom: 25px;
	}
 }


.div-left-1 {
	width: 50%;
	float:left;
	text-align: left;
	
}

.div-right-1 {
	width: 50%;
	float:right;
	text-align: right;
{

.div-right-1 {
	width: 50%;
	float:right;
	text-align: right;
{
